name: myrafeeq-dev

services:

  postgres:
    image: postgres:18
    env_file:
      - .env
    ports:
      - "6000:5432"
    volumes:
      - db_data:/var/lib/postgresql
      - ./postgres:/docker-entrypoint-initdb.d
    networks:
      - net
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U admin -d amanbank" ]
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 10s
    restart: unless-stopped

volumes:
  db_data:

networks:
  net:
    driver: bridge
