spring:
  jpa:
    properties:
      hibernate:
        format_sql: false

springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    enabled: false

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: when-authorized
      probes:
        enabled: true
      group:
        liveness:
          include: livenessState
        readiness:
          include: readinessState,db
  metrics:
    tags:
      application: myrafeeq-api
    distribution:
      percentiles-histogram:
        http.server.requests: true

logging:
  level:
    root: WARN
    uz.myrafeeq.api: INFO
